.flower-page {




  .flower-list {

    .flower {
      display: flex;
      align-items: center;
      border: 1px solid #fff;
      padding: 1rem;

     .flower-image {
      width: 100px;
      margin-right: 2rem;
      img {
        display: block;
        width: 100%;
        object-fit: contain;
      }
     }

     .flower-name {
      margin: 0;
     }

     .flower-type {
      padding: 5px;
      border-radius: 20%;
      background-color: #555;
      margin: 1rem;
     }

     .flower-thc-level {

     }

     form {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      width: 150px;

      select {
        padding: 4px 2px;
        font-size: 1.4rem;
        border: 2px solid #222222;
  
        &:hover {
          cursor: pointer;
          border: 2px solid #333333;
        }
      }

      button {
        font-size: 1.4rem;
        color: #31b664;
        background-color: #222222;
  
        &:hover {
          color: #22d065;
          background-color: #333333;
        }
      }
     }
    }
  }
}