@import '../../App.scss';

.app-header {
  background-color: #000;

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $serif-font;

    .header-logo {
      display: flex;
      align-items: center;
      font-size: 3.5rem;

      span:first-of-type {
        margin-right: 0.5rem;
      }
    }
  }
}
