.app-footer {
  padding: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
  background-color: darken(#31b664, 30%) ;

  p {
    margin: 0;
  }

  .footer-mid {
    display: flex;
    justify-content: space-between;

    .footer-mid-left {
      > div {
        margin: 1rem;
      }
    }


  }
}
