@import '../../App.scss';

.nug-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  margin: 2rem;

  .nugget {
    padding: 1rem;
    border: 1px solid $link-color;
    background-color: #fff;

    .nugget-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 0 1.5rem 0;
      background-color: #000;

      img {
        display: block;
        width: 100%;
        object-fit: contain;
      }
    }

    .nugget-name {
      color: #000;
      font-size: 22px;
    }

    form {
      display: flex;
      justify-content: space-between;
    }
    select {
      width: 49%;
      padding: 4px 2px;
      font-size: 1.4rem;
      border: 2px solid #222222;

      &:hover {
        cursor: pointer;
        border: 2px solid #333333;
      }
    }

    button {
      width: 45%;
      font-size: 1.4rem;
      color: #31b664;
      background-color: #222222;

      &:hover {
        color: #22d065;
        background-color: #333333;
      }
    }
  }
}
